.Heading{
    text-align: center;
    /* border: 1px solid red; */
}

.mapdiv{
    width: 80%;
    height: 450px;
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);

}

.mapdiv>img{
    width: 100%;
    height:200px
    /* border: 1px solid red; */
    

}

.main2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 1px solid red; */
    margin-left:300px;
    width:75%;
    height:950px;
    /* gap:-3px */
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    

}

/* .mapdiv>button{
    border: 1px solid red;
    background: linear-gradient(90deg, rgba(253,29,29,0.9220938375350141) 32%, rgba(252,69,137,0.9697128851540616) 67%);
} */
.btn-hover {
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    /* margin: 20px; */
    height: 30px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}
.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.page{
    margin-top: 20px;
   margin-left: 900px;
   height:150px
   

}
.page button{
    font-size: 20px;
}
.product{
    /* margin-top: 100px; */
    width:400px;
    height:800px;
    /* border: 1px solid red; */
    /* font-size: 50px; */
    margin-left: 50px;
}
.mount{
    width:98%;
    height:1000px;
    /* border: 1px solid red; */
    display: flex;
    margin: auto;
}
.mount2{
    /* margin-left:-250px */
    /* margin-right: 200px; */
    /* width: 100px; */
    margin: auto;
    width:200%
}
.order{
    font-size: 20px;
}
.category {  
    background-color:#1F99CD;
   
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    border-radius:2px;
    border:none;
    color: #ffffff;
    padding: 10px 30px 10px 10px;
    /* margin-left: 10px; */
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    &::-ms-expand { display: none };
  }
  .round {

    /* styling */
    /* background-color: rgb(242, 37, 37); */
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f); 
     box-shadow: 0 5px 15px rgba(242, 97, 103, .4);

    border: thin solid rgb(255, 115, 0);
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   
  }
  .round {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, rgb(155, 32, 32) 50%, transparent 50%),
      radial-gradient(#c53a3a 70%, transparent 10%);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - .5em) .5em;
    background-size:
      5px 5px,
      5px 5px,
      1.5em 1.5em;
    background-repeat: no-repeat;
  }
  
  .round:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      radial-gradient(gray 70%, transparent 72%);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - .5em) .5em;
    background-size:
      3px 3px,
      3px 3px,
      1.5em 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }

  .btn-hover{
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  }
  .btn-hover2{
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(205, 136, 236, 0.75);
  }
  

  
 
  
